@font-face {
    font-family: "heirOfLight";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/heirOfLight/heirOfLight-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/heirOfLight/heirOfLight-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/heirOfLight/heirOfLight-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/heirOfLight/heirOfLight-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/heirOfLight/heirOfLight-Regular.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "heirOfLight";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/heirOfLight/heirOfLight-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/heirOfLight/heirOfLight-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/heirOfLight/heirOfLight-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/heirOfLight/heirOfLight-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/heirOfLight/heirOfLight-Bold.ttf") format("truetype");
    font-display: swap;
} 
.heirOfLight {
    font-family: "heirOfLight";
}
.heirOfLight400 {
    font-family: "heirOfLight";
    font-weight: 400;
}
.heirOfLight700 {
    font-family: "heirOfLight";
    font-weight: 700;
}